@import '../../sass/variables';

main.submit-feedback {
  & > .wrapper {
    max-width: 78rem;
  }

  h1 + strong {
    display: block;
    margin-top: 1.2rem;
    color: $color-grey-500;
  }

  .title {
    display: flex;
    align-items: center;
    img {
      margin-left: auto;
    }
  }
  .box {
    padding: $size-medium $size-small;

    & > p {
      margin-bottom: $size-small;
    }
    .question {
       margin-bottom: $size-main;
    }

    .progress {
      width: 100%;
      position: relative;
      height: 0.5rem;
      border-radius: $border-radius;
      background: $color-grey-200;

      span {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        border-radius: $border-radius;
        background: linear-gradient(to right, $color-teal, rgb(176, 252, 250));
        transition: all 0.35s ease-out;
      }
    }

    .buttons {
      display: flex;
      justify-content: space-between;
      margin-bottom: $size-small;

      button {
        width: 15rem;
      }
    }

    .progress-text {
      margin-top: $size-small;
      font-family: $font-family-regular;

      strong {
        display: block;
        margin: $size-tiny 0;
      }
    }
  }
}
