@font-face {
  font-family: 'Untitled Sans Medium';
  src: url('/fonts/fonts/UntitledSans/UntitledSansWeb-Medium.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Untitled Sans Regular';
  src: url('/fonts/UntitledSans/UntitledSansWeb-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Untitled Sans Bold';
  src: url('/fonts/UntitledSans/UntitledSansWeb-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}





a {
  text-decoration: none;
  color: $color-text;
}

h1 {
  font-size: 3.1rem;
  font-family: $font-family-regular;
}

h2 {
  font-size: 2.2rem;
  font-family: $font-family-regular;
}

strong {
  font-family: $font-family-bold;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.15em;
}

p {
  line-height: 1.5;
}
