@import '../../sass/variables';

main.share-feedback {
  li {
    display: flex;
    // justify-content: space-between;
    align-items: center;

    .profile {
      margin-right: $size-small;
    }

    .user {
      font-family: $font-family-regular;
    }

    .button {
      margin-left: auto;
    }
  }
}
