@import '../../sass/variables';

main.share-feedback {
  li {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .user {
      font-family: $font-family-regular;
    }
  }
}
